
<div class="full-height" layout="column" layout-align="center">
    <div layout="row">
        <div layout-align="center"
            flex="40" flex-offset="30"
            flex-sm="60"  flex-offset-sm="20"
            flex-xs="100"  flex-offset-xs="0">

            <md-content layout-padding>
                <form name="loginForm">
                    <md-input-container class="md-block">
                        <label>Name</label>
                        <input ng-model="formdata.name" required>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Pass</label>
                        <input ng-model="formdata.pass" required>
                    </md-input-container>

                    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                        <md-button class="md-raised" ng-click="signUpSubmit()">Sign up</md-button>
                        <md-button class="md-raised md-primary" ng-click="signInSubmit()">Sign in</md-button>
                    </section>
                </form>
            </md-content>
        </div>
    </div>
</div>
