<div layout="column" flex>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <a class="md-display-1" href="#" ng-click='loadNotes()'>Notes wall</a>

            <md-button ng-click="loadMyNotes()">My notes</md-button>

            <span flex></span>

            <md-button class="md-raised" ng-click="openNoteDialog($event)">
                Create note
            </md-button>

            <md-menu>
                <md-button ng-click="openUserMenu($mdMenu, $event)">
                    {{user.name}}
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="signOut()">
                            Sign out
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>

    <md-content layout-padding>
        <form name="filterForm">
            <div layout-gt-xs="row">
                <md-input-container class="md-block no-margin" flex-gt-xs>
                    <label>User name</label>
                    <input ng-change="loadNotes(true)" ng-model="filter.userName">
                </md-input-container>
                <md-input-container class="no-margin">
                    <label>Start date</label>
                    <md-datepicker ng-change="loadNotes(true)" ng-model="filter.created_after"></md-datepicker>
                </md-input-container>
                <md-input-container class="no-margin">
                    <label>End date</label>
                    <md-datepicker ng-change="loadNotes(true)" ng-model="filter.created_before"></md-datepicker>
                </md-input-container>
            </div>

        </form>
    </md-content>

    <md-content layout="row">
        <md-list flex="40" flex-offset="30"
            flex-sm="60" flex-offset-sm="20"
            flex-xs="100" flex-offset-xs="0">

            <br>

            <md-divider ng-if="notes.length"></md-divider>

            <div ng-repeat="note in notes track by $index">
                <md-subheader class="md-no-sticky">
                    <strong>{{note.userName}}</strong> - {{note.date}}
                    <md-button ng-if="user._id == note._userId" class="md-icon-button" ng-click="openNoteDialog($event, note)">
                        <md-icon md-font-set="material-icons">mode_edit</md-icon>
                    </md-button>
                    <md-button ng-if="user._id == note._userId" class="md-icon-button" ng-click="deleteNote($event, note)">
                        <md-icon md-font-set="material-icons">delete</md-icon>
                    </md-button>
                </md-subheader>
                <md-list-item class="md-3-line note-list-item">
                    <div class="md-list-item-text note-list-item" layout="column">
                        <h3>{{note.title}}</h3>
                        <div ta-bind ng-model="note.content"></div>
                    </div>
                </md-list-item>
                <md-divider ></md-divider>
            </div>
        </md-list>
    </md-content>
</div>
