<md-dialog flex="50">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{noteFormData._id ? "Edit note" : "New note"}}</h2>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <form name="noteForm">
                    <md-input-container class="md-block">
                        <label>Title</label>
                        <input ng-model="noteFormData.title" required>
                    </md-input-container>

                    <md-input-container>
                        <text-angular ng-model="noteFormData.content"></text-angular>
                    </md-input-container>
                </form>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised md-primary" ng-click="submitNoteForm()">
                    {{noteFormData._id ? "Save" : "Create"}}
            </md-button>
            <md-button class="md-raised" ng-click="closeNoteDialog()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
