body {
    height: 100%;
}

.full-height {
    height: 100%;
}

.note-list-item,.note-list-item::before {
    margin-top: 0 !important;
    margin-bottom: 10px !important;
    min-height: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.auto-width {
    width: auto !important;
}

.no-mins {
    min-height: 0 !important;
    min-width: 0 !important;
}

.ta-toolbar {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.ta-toolbar .ta-button-group {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.ta-toolbar .ta-button-group button {
	min-width: 0;
	min-height: 0;
	line-height: normal;
	margin-left: 0;
	color: rgba(0, 0, 0, 0.54);
}

.ta-toolbar .ta-button-group button md-icon {
	color: rgba(0, 0, 0, 0.54);
}

.ta-toolbar .ta-button-group button.active {
	background-color: #f5f5f5;
}

.ta-text-editor .ta-bind {
	border-bottom: 1px solid rgba(0, 0, 0, 0.117647);
}

.ta-text-editor .ta-bind:focus {
	border-bottom: 2px solid #3f51b5;
	outline: none;
}
